@font-face {
  font-family: "iconfont"; /* Project id 3465305 */
  src: url('iconfont.woff2?t=1655202713357') format('woff2'),
       url('iconfont.woff?t=1655202713357') format('woff'),
       url('iconfont.ttf?t=1655202713357') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e602";
}

.icon-fuzhiwenjian:before {
  content: "\e600";
}

.icon-shuaxin:before {
  content: "\e601";
}

.icon-guanyuwomen:before {
  content: "\e684";
}

.icon-icon:before {
  content: "\e66c";
}

.icon-tags:before {
  content: "\e826";
}

.icon-youjiantou:before {
  content: "\e608";
}

.icon-zuojiantou:before {
  content: "\e609";
}

.icon-games-:before {
  content: "\e844";
}

.icon-shangjiantou:before {
  content: "\e758";
}

.icon-DarkTheme:before {
  content: "\e65a";
}

.icon-heibai:before {
  content: "\ec97";
}

.icon-read:before {
  content: "\ebb9";
}

